.card-title {
  font-size: 18px;
  margin-bottom: 2.25rem;
}

.price {
  margin-bottom: 1rem;
  font-size: 4rem;
  display: inline-block;
}

.currency {
  font-size: 1.5rem;
  display: inline-block;
  transform: translateY(-1.5rem);
}

.card-time {
  margin-bottom: 1.4375rem;
}

.card-detail {
  margin-bottom: 1.875rem;
}

.card-detail p {
  padding: 0.25rem;
}

.btn-card {
  border: none;
}

.bg-card_primary {
  background: #ebcb80;
  background-blend-mode: soft-light;
}

.bg-card_binary {
  background: linear-gradient(
    223.49deg,
    rgba(0, 0, 0, 0.0001) 4.85%,
    rgba(0, 0, 0, 0.401127) 96.5%
  );
  background-blend-mode: multiply;
}

.bg-card_third {
  background: linear-gradient(
    224.09deg,
    rgba(255, 255, 255, 0.7) -100%,
    rgba(255, 255, 255, 7e-5)
  );
  background-blend-mode: soft-light;
}

@media screen and (max-width: 818px) and (min-width: 542px) {
  .card-title {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .currency,
  .card-detail {
    font-size: 0.6875rem;
  }

  .card-detail {
    margin-bottom: 1rem;
  }

  .card-time {
    margin-bottom: 0.5rem;
  }

  .price {
    font-size: 2.25rem;
  }

  .btn {
    width: 8.75rem;
    height: 2.5rem;
  }

  .btn-card {
    font-size: 0.6875rem;
  }
}

@media screen and (max-width: 541px) {
  .card-title {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
  }

  .currency,
  .card-detail {
    font-size: 0.6875rem;
  }

  .card-detail {
    margin-bottom: 1rem;
  }

  .card-time {
    margin-bottom: 0.5rem;
  }

  .price {
    font-size: 2.25rem;
  }

  .btn {
    height: 2rem;
    line-height: 3px;
  }

  .btn-card {
    font-size: 0.6875rem;
  }
}
