.display-desktop {
  display: block;
}

.display-mobile {
  display: none;
}

.location-name ul {
  display: flex;
  justify-content: center;
  margin-bottom: 1.875rem;
}

.location-name li {
  margin: 0 3.5rem;
  font-size: 1.125rem;
}
