@use '../abstracts/' as *;

.container__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-right: 70px;
  @include mobile {
    margin-bottom: 16px;
    margin-right: 20px;
  }
  &__icon {
    display: flex;
    align-items: center;
    button {
      border: none;
      font-size: pxToRem(14);
      line-height: pxToRem(22);
      background: transparent;
      color: $text-color-primary;
    }
    figure {
      display: flex;
    }
  }
}

.container__top__subtitle {
  @include GilroyBold;
  font-size: pxToRem(32);
  line-height: pxToRem(40);
  @include mobile {
    font-size: pxToRem(20);
    line-height: pxToRem(32);
  }
}
