:root {
  --text-color-primary: #ebcb80;
  --text-color-binary: #4b4b4b;
  --text-color-third: #ffffff;
  --bg-color: #4b4b4b;
  --spacing-letter: 0.0555556em;
  --font-size-title: 44px;
  --font-size-subtitle: 16px;
}

@font-face {
  font-family: Roboto;
  src: url('../assets/fonts/Roboto/Roboto-Regular.ttf');
}

html {
  font-family: Roboto;
}

body,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.letter-spacing {
  letter-spacing: var(--spacing-letter);
}

.btn {
  padding: 1rem 1.5625rem;
  border-radius: 3.125rem;
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-subtitle);
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 2.25rem;
}
