<div class="banner">
  <div class="overlay"></div>
  <div class="container">
    <p class="banner__welcome">Welcome to BD Screens</p>
    <h1 class="banner__download">Download Unlimited
      Movies, Drama, Music Video
      and More Content.</h1>
    <p class="banner__enjoy">Enjoy exclusive Music Video popular movies and Live shows.
      Subscribe BD Screen now </p>
    <div class="banner__input">
      <div>
        <label for="">+880</label>
        <input type="text" placeholder="Enter mobile number">
      </div>
      <button class="btn">Subscribe</button>
    </div>
  </div>
</div>
