<section class="section-card">
  <div class="price-title">
    <p class="title">Advantages</p>
    <p class="subtitle">One more thing! Any time we start something new it is exciting and we are very motivated and
      committed.</p>
  </div>
  <div class="price-list gird">
    <!-- start card of price -->
    <include src="./components/cardAdvantages.html" locals='{
      "cardTitle": "secure",
      "subtitle": "your data is protected",
      "cardDetail": "No matter how far along you are in your sophistication as an amateur astronomer…",
      "srcImg": "../assets/icons/safe.svg",
      "srcAlt": "safe",
      "button": "find more",
      "bgCard": "bg-card_binary",
      "colorTitle": "text-color_primary",
      "colorText": "text-color_third",
      "colorButton": "text-color_binary",
      "bgButton": "btn-bg_primary"
    }'></include>

    <!-- start card of price -->
    <include src="./components/cardAdvantages.html" locals='{
      "cardTitle": "aesthetic",
      "subtitle": "unique design",
      "cardDetail": "Acres of Diamonds… you’ve read the famous story, or at least had it related to you.",
      "srcImg": "../assets/icons/aesthetic.svg",
      "srcAlt": "aesthetic",
      "button": "find more",
      "bgCard": "bg-card_binary",
      "colorTitle": "text-color_primary",
      "colorText": "text-color_third",
      "colorButton": "text-color_binary",
      "bgButton": "btn-bg_primary"
    }'></include>

    <!-- start card of price -->
    <include src="./components/cardAdvantages.html" locals='{
      "cardTitle": "neat",
      "subtitle": "accurate in details",
      "cardDetail": "Some days a motivational quote can provide a quick pick-me-up.",
      "srcImg": "../assets/icons/neat-icon.svg",
      "srcAlt": "neat",
      "button": "find more",
      "bgCard": "bg-card_binary",
      "colorTitle": "text-color_primary",
      "colorText": "text-color_third",
      "colorButton": "text-color_binary",
      "bgButton": "btn-bg_primary"
    }'></include>
  </div>
</section>
