<section class="section-CTA">
  <div class="container">
    <p class="title">Create An Account</p>
    <div class="sign-up card">
      <p class="card-title text-color_primary uppercase letter-spacing">sign up</p>
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Password">
      <input type="text" placeholder="Confirm Password">
      <p><a href="#" class="text-color_primary">Already Have an account?</a></p>
      <button class="btn btn-bg_primary">sign up</button>
    </div>
  </div>
</section>
