<section class="section-contact">
  <div class="container">
    <p class="title">Contact Us</p>
    <div class="content">
      <div class="touch">Get In Touch
        <ul>
          <li class="item">
            <img src="../assets/icons/location.svg">
            <a href="">2300 W Arbutus Dr Citrus Springs, FL 34434, USA</a>
          </li>
          <li class="item">
            <img src="../assets/icons/mail.svg">
            <a href="">contact@hofmannui.net</a>
          </li>
          <li class="item">
            <img src="../assets/icons/phone.svg">
            <a href="">793-891-7938</a>
            <a href="">512-915-5628</a>
            <a href="">952-775-6021</a>
          </li>
        </ul>
      </div>
      <div class="form-contact">
        <div class="card">
          <include src="./components/formContact.html"></include>
          <button class="btn"></button>
        </div>
      </div>
      <div class="credits">
        <p>credits</p>
        <p>In order to discuss the general function of the logo, we must firstly identify and define the environment
          where this will have to fulfill its function.</p>
        <p>Follow</p>
        <include src="./components/listIcon.html" locals='{
          "list": "[`../assets/icons/pinterest.svg`, `../assets/icons/linkedin.svg`, `../assets/icons/google-plus.svg`, `../assets/icons/twitter.svg`, `../assets/icons/facebook.svg`, `../assets/icons/instagram.svg`]"
        }'></include>
      </div>
    </div>
  </div>
</section>
