<section class="section-contact">
  <div class="container">
    <p class="title">Contact Us</p>
    <div class="content">
      <div class="touch">
        <p class="letter-spacing">Get In Touch</p>
        <ul>
          <li class="list-item">
            <img src="../assets/icons/location.svg">
            <p href="">2300 W Arbutus Dr Citrus Springs, FL 34434, USA</p>
          </li>
          <li class="list-item">
            <img src="../assets/icons/mail.svg">
            <p href="">contact@hofmannui.net</p>
          </li>
          <li class="list-item">
            <img src="../assets/icons/phone.svg">
            <div class="">
              <p href="">793-891-7938</p>
              <p href="">512-915-5628</p>
              <p href="">952-775-6021</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="form-contact">
        <div class="card">
          <include src="./components/formContact.html"></include>
          <button class="btn btn-bg_primary">submit</button>
        </div>
      </div>
      <div class="credits">
        <p class="letter-spacing">Credits</p>
        <p class="credits-content">In order to discuss the general function of the logo, we must firstly identify and
          define the environment
          where this will have to fulfill its function.</p>
        <p class="letter-spacing">Follow</p>
        <div class="credits-icon">
          <include src="./components/listIcon.html" locals='{
          "list": "[`../assets/icons/pinterest.svg`,`../assets/icons/linkedin.svg`, `../assets/icons/google-plus.svg`, `../assets/icons/twitter.svg`, `../assets/icons/facebook.svg`, `../assets/icons/instagram.svg`]"
        }'></include>
        </div>
      </div>
    </div>
  </div>
</section>
