<section class="section-card">
  <div class="price-title">
    <p class="title">Choose Your Plan</p>
  </div>
  <div class="price-list gird">
    <!-- start card of price -->
    <include src="./components/cardPrice.html" locals='{
    "cardTitle": "SILVER",
    "currency": "$",
    "time": "YEAR",
    "price": "49",
    "cardDetail_1": "Personal Account",
    "cardDetail_2": "25 GB Discase",
    "cardDetail_3": "50 Uploads per day",
    "button": "PURCHASE",
    "colorTitle": "text-color_primary",
    "colorText": "text-color_third",
    "colorButton": "text-color_binary",
    "bgButton": "btn-bg_primary",
    "bgCard": "bg-card_third"
  }'></include>

    <!-- start card of price -->
    <include src="./components/cardPrice.html" locals='{
    "cardTitle": "GOLD",
    "currency": "$",
    "time": "YEAR",
    "price": "99",
    "cardDetail_1": "Personal Account",
    "cardDetail_2": "50 GB Discase",
    "cardDetail_3": "500 Uploads per day",
    "button": "PURCHASE",
    "colorTitle": "text-color_binary",
    "colorText": "text-color_binary",
    "colorButton": "text-color_third",
    "bgButton": "btn-bg_binary",
    "bgCard": "bg-card_primary"
  }'></include>

    <!-- start card of price -->
    <include src="./components/cardPrice.html" locals='{
    "cardTitle": "PLATINUM",
    "currency": "$",
    "time": "YEAR",
    "price": "299",
    "cardDetail_1": "Team Account",
    "cardDetail_2": "500 GB Discase",
    "cardDetail_3": "Unlimited Uploads per day",
    "button": "PURCHASE",
    "colorTitle": "text-color_primary",
    "colorText": "text-color_third",
    "colorButton": "text-color_binary",
    "bgButton": "btn-bg_primary",
    "bgCard": "bg-card_binary"
  }'></include>
  </div>
</section>
