<section class="section-projects">
  <div class="container">
    <p class="title">Places</p>
    <div class="location-name">
      <include src="./components/listPlaces.html" locals='{
        "list": "[`san francisco`, `south liliana`, `blickview`, `new raven`]"
      }'></include>
    </div>
    <div class="location-images">
      <include src="./components/cardProjects.html" locals='{
        "item": "[`../assets/images/Rectangle13.png`,`../assets/images/Rectangle13.png`,`../assets/images/Rectangle13.png`,`../assets/images/Rectangle13.png`,`../assets/images/Rectangle13.png`,`../assets/images/Rectangle13.png`]"
      }'></include>
    </div>
  </div>
</section>
