<section class="card">
  <div class="price-title">
    <p class="title">Choose Your Plan</p>
  </div>
  <!-- start card of price -->
  <include src="./components/cardPrice.html" locals='{
    "cardTitle": "SILVER",
    "currency": "$",
    "time": "YEAR",
    "price": "49",
    "cardDetail_1": "Personal Account",
    "cardDetail_2": "25 GB Discase",
    "cardDetail_3": "50 Uploads per day",
    "button": "PURCHASE"
  }'></include>

  <!-- start card of price -->
  <include src="./components/cardPrice.html" locals='{
    "cardTitle": "GOLD",
    "currency": "$",
    "time": "YEAR",
    "price": "99",
    "cardDetail_1": "Personal Account",
    "cardDetail_2": "50 GB Discase",
    "cardDetail_3": "500 Uploads per day",
    "button": "PURCHASE"
  }'></include>

  <!-- start card of price -->
  <include src="./components/cardPrice.html" locals='{
    "cardTitle": "PLATINUM",
    "currency": "$",
    "time": "YEAR",
    "price": "299",
    "cardDetail_1": "Team Account",
    "cardDetail_2": "500 GB Discase",
    "cardDetail_3": "Unlimited Uploads per day",
    "button": "PURCHASE"
  }'></include>
</section>
