<section class="section-testimonials">
  <div class="previous">
    <img src="../assets/icons/prev.svg" alt="previous">
  </div>
  <div class="content">
    <img src="../assets/images/Rectangle13.png" alt="avatar" class="avatar">
    <p class="title">Ida Stephens — Noir Project</p>
    <p class="subtitle">“Conversations can be a tricky business. Sometimes, decoding what is said with what is meant is
      difficult at best. However, communication is a necessary tool in todays world. It’s often been the case were one
      party completely miscommunicates to another due to a misunderstanding between parties.”</p>
    <div class="dot">
      <ul>
        <li class="dot-item"></li>
        <li class="dot-item"></li>
        <li class="dot-item"></li>
        <li class="dot-item"></li>
        <li class="dot-item"></li>
      </ul>
    </div>
  </div>
  <div class="next">
    <img src="../assets/icons/next.svg" alt="next">
  </div>
</section>
