<section class="team">
  <div class="team-title">
    <p class="title">Our Team</p>
  </div>

  <!-- start member -->
  <include src="./components/member.html" locals='{
    "srcImg": "../assets/images/person.png",
    "altImg": "Craig Todd",
    "name": "Craig Todd",
    "position": "CEO",
    "slogan": "Like the majority of sales people, I visit a huge number of clients and prospects every month"
  }'></include>

  <!-- start member -->
  <include src="./components/member.html" locals='{
    "srcImg": "../assets/images/person.png",
    "altImg": "Vera Hopkins",
    "name": "Vera Hopkins",
    "position": "UX Lead",
    "slogan": "Differentiate Yourself And Attract More Attention Sales And Profits"
  }'></include>

  <!-- start member -->
  <include src="./components/member.html" locals='{
    "srcImg": "../assets/images/person.png",
    "altImg": "Jennie Graham",
    "name": "Jennie Graham",
    "position": "UX/UI Designer",
    "slogan": "WordPress Version 2 0 3 Review"
  }'></include>

  <!-- start member -->
  <include src="./components/member.html" locals='{
    "srcImg": "../assets/images/person.png",
    "altImg": "Eunice Wong",
    "name": "Eunice Wong",
    "position": "Marketing consultant",
    "slogan": "Advertising Internet Online Opportunities To Explore"
  }'></include>

  <!-- start member -->
  <include src="./components/member.html" locals='{
    "srcImg": "../assets/images/person.png",
    "altImg": "Chase Meyer",
    "name": "Chase Meyer",
    "position": "Front-end Developer",
    "slogan": "Search Engine Optimization And Advertising"
  }'></include>

  <!-- start member -->
  <include src="./components/member.html" locals='{
    "srcImg": "../assets/images/person.png",
    "altImg": "Johnny Vargas",
    "name": "Johnny Vargas",
    "position": "Back-end Developer",
    "slogan": "Maintain Your PC S Performance With PC Programs"
  }'></include>
</section>
