@use 'variables' as *;
@use 'functions' as *;

// Media-Query Mixin
@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: $tablet) {
    @content;
  }
}

@mixin textColorPrimary {
  color: $text-color-primary;
}

@mixin GilroyRegular {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 600;
}

@mixin GilroyBold {
  font-family: $second-font;
  font-style: normal;
  font-weight: 600;
}

@mixin GilroyMedium {
  font-family: $four-font;
  font-style: normal;
  font-weight: 100;
}

@mixin btn {
  padding: pxToRem(10) pxToRem(24);
  border-radius: 3px;
  background-color: $branch-color-first;
  color: $text-color-primary;
  @include mobile {
    padding: pxToRem(6) pxToRem(18);
    font-size: pxToRem(12);
  }
}

@mixin cards {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  overflow-x: auto;
  padding-top: pxToRem(40);
  @include mobile {
    padding-top: 1rem;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  .card {
    position: relative;
    &__name {
      @include GilroyRegular;
      position: absolute;
      bottom: 1rem;
      left: pxToRem(12);
      font-size: pxToRem(20);
      line-height: pxToRem(30);
    }
  }
}

//class
.btn {
  @include btn;
  border: none;
  white-space: nowrap;
}

.container__top__subtitle {
  @include GilroyBold;
  font-size: pxToRem(32);
  line-height: pxToRem(40);
  @include mobile {
    font-size: pxToRem(20);
    line-height: pxToRem(32);
  }
}
