@use "functions" as *;

// Font family
$primary-font: Gilroy-Regular;
$second-font: Gilroy-Bold;
$third-font: Gilroy-SemiBold;

// Breakpoints

$medium: 768px;
$extra-lager: 1200px;

$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);

// Colors
$branch-color-first: #F41B3B;
$branch-color-second: #1EBC99;
$branch-color-third: #F9CC0D;
$branch-color-four: #1884F7;
$color-linear-gradient: linear-gradient(90deg, #F41B3B 0%, #1884F7 100%);
$color-black-first: #0A070B;
$color-black-second: #363536;
$color-black-third: #4F4E50;
$color-black-four: #807E81;
$main-spacing: pxToRem(-1.5);
