@use 'functions' as *;

// Font family
$primary-font: Gilroy-Regular;
$second-font: Gilroy-Bold;
$third-font: Gilroy-SemiBold;
$four-font: Gilroy-Medium;

// Breakpoints

$medium: 768px;
$extra-lager: 1200px;

$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);

// Colors
$branch-color-first: #f41b3b;
$branch-color-second: #1ebc99;
$branch-color-third: #f9cc0d;
$branch-color-four: #1884f7;
$color-linear-gradient: linear-gradient(90deg, #f41b3b 0%, #1884f7 100%);
$color-overlay-linear-gradient: linear-gradient(
  172.23deg,
  #000000 4.94%,
  rgba(0, 0, 0, 0.35) 45.74%,
  rgba(0, 0, 0, 0.9) 92.94%
);
$color-black-first: #0a070b;
$color-black-second: #363536;
$color-black-third: #4f4e50;
$color-black-four: #807e81;
$text-color-primary: #ffffff;
$main-spacing: pxToRem(-1.5);
