@use '../abstracts/' as *;

footer {
  @include GilroyRegular;
  font-size: pxToRem(18);
  line-height: pxToRem(24);
  background-color: $color-black-first;
  border-top: 5px solid $color-black-third;
  @include mobile {
    font-size: pxToRem(14);
  }
  .container {
    position: relative;
    padding-top: 70px;
    padding-bottom: 70px;
    @include mobile {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .footer__layout {
      display: grid;
      gap: 2rem;
      grid:
        'logo logo logo'
        'sv . md'
        'em em em';
      @include tablet {
        grid:
          'logo'
          'sv'
          'md'
          'em';
      }
    }
    .footer__icon--arrow {
      position: absolute;
      right: 0;
      padding: pxToRem(11) pxToRem(13);
      border-radius: 4px 0 0 4px;
      background-color: $branch-color-first;
      @include mobile {
        display: none;
      }
    }
    .footer__top {
      grid-area: logo;
      text-align: center;
      padding-top: 50px;
      div {
        transform: 32px;
        @include tablet {
          transform: none;
        }
      }
    }
    .border-right {
      display: flex;
      justify-content: center;
      align-items: center;
      li {
        border-right: 1px solid $color-black-third;
      }
    }
    .footer__center--services {
      grid-area: sv;
      li {
        padding: 0 56px;
        @include mobile {
          padding: 0 50px;
        }
      }
      li:last-child {
        border: none;
      }
      @include mobile {
        li:first-child {
          padding-left: 0;
        }
        li:last-child {
          padding-right: 0;
        }
      }
    }
    .footer__center--media {
      grid-area: md;
      li {
        padding: 0 pxToRem(25);
      }
      li:first-child {
        border: none;
        text-transform: uppercase;
        color: $color-black-four;
        @include mobile {
          padding: 0;
        }
      }
      li:last-child {
        border: none;
      }
    }

    .footer__bottom {
      grid-area: em;
      text-align: center;
      font-size: 1rem;
      font-weight: 100;
      margin-top: 70px;
      @include mobile {
        margin-top: 25px;
      }
    }
  }
}
