@use '../abstracts/' as *;

.header {
  width: 100%;
  position: absolute;
  background-color: transparent;
  @include GilroyRegular;
  font-size: pxToRem(16);
  line-height: pxToRem(20);
  padding: 20px 0;
  overflow: hidden;
  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
  &__left {
    gap: 24px 65px;
  }
  &__right {
    gap: 60px;
    @include mobile {
      gap: 20px;
      position: absolute;
      right: 20px;
    }
  }
  &__left {
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
