@use '../abstracts/' as *;

.header {
  position: relative;
  background: url('../assets/images/desktop/BGheader.png');
  background-size: cover;
  background-position: center;
  background-color: $color-black-first;
  @include GilroyRegular;
  font-size: 16px;
  line-height: 20px;
  padding: pxToRem(20) pxToRem(70);
  @include mobile {
    padding: pxToRem(20);
  }
  &-top,
  &-top--mobile,
  &-bottom {
    position: relative;
  }
  &-top {
    display: flex;
    justify-content: space-between;
    &-left,
    &-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        margin-left: pxToRem(60);
        @include mobile {
          margin-left: pxToRem(20);
        }
      }
    }
    &__logo {
      margin-right: pxToRem(65);
      transform: translateY(6);
    }
    &__nav,
    &__nav ul,
    &__nav a {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include mobile {
        display: none;
      }
      a {
        margin-right: pxToRem(10);
        color: $color-black-four;
        img {
          padding: pxToRem(5);
        }
      }
    }
    &--mobile li,
    &__nav li {
      white-space: nowrap;
      &:first-child a {
        color: $text-color-primary;
      }
    }
    &-right > div {
      margin-left: pxToRem(60);
      @include mobile {
        margin-left: 1rem;
      }
    }
  }
  hr {
    display: none;
    padding: pxToRem(2);
    border: none;
    background-color: $color-black-four;
    width: 100%;
    position: absolute;
    left: 0;
    top: pxToRem(63);
    @include mobile {
      display: block;
    }
  }
  .header-top--mobile {
    display: none;
    padding-top: 2.5rem;
    @include mobile {
      display: block;
      nav,
      ul,
      a {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
      a {
        margin-right: pxToRem(10);
        color: $color-black-four;
        img {
          padding: pxToRem(5);
        }
      }
    }
  }
  &-bottom {
    padding: 4rem 0;
    &__welcome {
      @include GilroyRegular;
      font-size: 24px;
      line-height: 32px;
      padding-bottom: pxToRem(24);
      @include mobile {
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding-bottom: pxToRem(48);
      }
    }
    &__download {
      @include GilroyBold;
      font-size: 64px;
      line-height: 72px;
      letter-spacing: $main-spacing;
      padding-bottom: pxToRem(32);
      max-width: pxToRem(720);
      @include mobile {
        font-size: 24px;
        line-height: 32px;
        max-width: pxToRem(284);
      }
    }
    &__enjoy {
      @include GilroyMedium;
      font-size: 20px;
      line-height: 32px;
      padding-bottom: pxToRem(18);
      max-width: pxToRem(600);
      @include mobile {
        font-size: 14px;
        line-height: 18px;
        max-width: pxToRem(281);
      }
    }
    &__input {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      max-width: pxToRem(500);
      label {
        position: absolute;
        color: black;
        transform: translate(10px, 10px);
        border-right: 1px solid red;
        padding: pxToRem(10);
        padding-right: pxToRem(21);
        @include mobile {
          font-size: 14px;
          padding: pxToRem(8);
          transform: translate(5px, 5px);
        }
      }
      input {
        padding: pxToRem(20) 0 pxToRem(20) pxToRem(100);
        flex-grow: 2;
        outline: none;
        border-radius: 3px 0 0 3px;
        border: none;
        @include mobile {
          padding: pxToRem(15) 0 pxToRem(15) pxToRem(80);
          margin-bottom: 1rem;
          border-radius: 3px;
        }
      }
      button {
        flex-grow: 1;
        border-radius: 0 3px 3px 0;
        @include mobile {
          flex-grow: 0;
          padding: pxToRem(10) pxToRem(24);
          border-radius: 3px;
          margin-bottom: 1rem;
        }
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-overlay-linear-gradient;
}
