@import url('../_reset.css');

.header_top {
  width: 100%;
  padding: 2.4375rem 0;
  display: flex;
  justify-content: space-around;
  background: var(--bg-color);
}

.header_top-logo {
  text-transform: uppercase;
  font-size: 36px;
  color: var(--text-color-primary);
  display: flex;
  align-items: center;
}

.header_top-navigation {
  display: flex;
  align-items: center;
}

.header_top-navigation a {
  text-transform: uppercase;
  font-size: 18px;
  color: var(--text-color-third);
  letter-spacing: var(--spacing-letter);
  line-height: 0;
}

ul .item {
  margin: 0 1.375rem;
  text-align: center;
}

.item:last-child {
  padding: 1rem 1.5625rem;
  border: 2px solid var(--text-color-third);
  border-radius: 3.125rem;
  margin-right: 0;
}

.header_top-navigation .item {
  display: inline-block;
}

.hamburger-menu {
  display: none;
}

.header_bottom {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--text-color-primary);
  opacity: 0.3;
}

.header_bottom-main {
  padding: 10rem 0;
  background: url('../../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_bottom-main .content {
  z-index: 1;
}

.title {
  font-weight: 400;
  font-size: var(--font-size-title);
  font-style: normal;
  color: var(--text-color-binary);
  text-align: center;
  margin-bottom: 1.25rem;
}

.subtitle {
  font-weight: 400;
  color: var(--text-color-binary);
  font-size: var(--font-size-subtitle);
  text-align: center;
  margin-bottom: 2.1875rem;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.input-email {
  padding-right: 6rem;
  border: 2px solid var(--bg-color);
  border-radius: 0.25rem;
  background: none;
  margin: 0 0.875rem;
}

.btn-submit {
  background: none;
  height: 3rem;
  font-size: 16px;
  border: 2px solid var(--text-color-binary);
  margin: 0 0.875rem;
  color: var(--text-color-binary);
}

.icon {
  display: flex;
  justify-content: center;
}

.icon div {
  padding: 1.25rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  margin: 0 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* responsive for tablet */
@media screen and (max-width: 818px) and (min-width: 542px) {
  .header_top {
    height: 104px;
  }

  .header_top-logo {
    font-size: 24px;
  }

  ul .item {
    margin: 0 15px;
  }

  .header_top-navigation a {
    font-size: 11px;
  }

  .item:last-child {
    /* height: 40px; */
    width: 148px;
    padding: 11px;
    margin-left: 0;
  }

  .title {
    font-size: 32px;
    width: 405px;
    margin-left: auto;
    margin-right: auto;
  }

  .subtitle {
    font-size: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-email {
    width: 228px;
    height: 40px;
  }

  .btn-submit {
    height: 40px;
    font-size: 11px;
    line-height: 9px;
  }

  .icon div {
    width: 64px;
    height: 64px;
    margin: 0 38px;
  }

  .icon img {
    width: 32px;
    height: 32px;
  }
}

/* responsive for phone */
@media screen and (max-width: 541px) {
  .header_top {
    justify-content: space-between;
    height: 56px;
  }

  .header_top-logo {
    font-size: 24px;
    margin-left: 20px;
  }

  .header_top-navigation {
    display: none;
  }

  .hamburger-menu {
    display: block;
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .title {
    font-size: 20px;
    width: 190px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
  }

  .subtitle {
    font-size: 11px;
  }

  form {
    display: block;
    width: 190px;
    margin: auto;
    margin-bottom: 40px;
  }

  .input-email,
  .btn-submit {
    display: block;
    margin: auto;
    width: 100%;
    font-size: 11px;
    font-weight: 400;
  }

  .input-email {
    margin-bottom: 15px;
  }

  .btn-submit {
    padding: 10px 70px 9px 60px;
  }

  .icon div {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }

  .icon img {
    width: 25px;
    height: 25px;
  }
}
