@use '../abstracts/' as *;

main {
  background-color: $color-black-first;
  .container {
    padding: 35px 0 35px 70px;
    @include mobile {
      padding-left: 20px;
    }
  }
  section.section {
    background-color: $color-black-first;
    margin-bottom: 85px;
    @include mobile {
      margin-bottom: 32px;
    }
  }
}

section.popular {
  .cards {
    grid-auto-columns: 214px;
    @include mobile {
      grid-auto-columns: 101px;
      .card__name {
        font-size: pxToRem(11);
        line-height: pxToRem(12);
      }
    }
  }
}
section.movies,
section.musics {
  .cards {
    grid-auto-columns: 400px;

    @include mobile {
      grid-auto-columns: 277px;
      .card__name {
        font-size: pxToRem(14);
        line-height: pxToRem(20);
      }
    }
  }
}
