<footer>
  <div class="container__footer">
    <div class="footer__icon--arrow">
      <figure>
        <img src="../assets/icons/desktop/arrow_up.svg" alt="arrow up">
      </figure>
    </div>
    <div class="footer__top">
      <picture>
        <source media="(min-width: 768px)" srcset="../assets/images/desktop/logo_footer.png">
        <img src="../assets/images/mobile/logo_footer.png" alt="logo">
      </picture>
    </div>
    <div class="footer__center">
      <ul class="footer__center--services">
        <li>
          <p>Feedback</p>
        </li>
        <li>
          <p>Help</p>
        </li>
        <li>
          <p>FAQ</p>
        </li>
      </ul>
      <ul class="footer__center--media">
        <li>
          <p>follow on</p>
        </li>
        <li>
          <picture>
            <source media="(min-width: 768px)" srcset="../assets/icons/desktop/facebook.svg">
            <img src="../assets/icons/mobile/facebook.svg" alt="facebook">
          </picture>
        </li>
        <li>
          <picture>
            <source media="(min-width: 768px)" srcset="../assets/icons/desktop/instagram.svg">
            <img src="../assets/icons/mobile/instagram.svg" alt="instagram">
          </picture>
        </li>
      </ul>
    </div>
    <div class="footer__bottom"><p>©2021 All rights reserved</p></div>
  </div>
</footer>
