<header>
  <div class="container">
    <div class="header_top">
      <p class="header_top-logo">
        hofmann
      </p>
      <nav class="header_top-navigation">
        <include src="./components/list.html" locals='{
          "list": "[`mission`, `services`, `about`, `take a tour`]"
        }'></include>
      </nav>
      <div class="hamburger-menu">
        <img src="../assets/icons/hamburger-menu.svg" alt="hamburger">
      </div>
    </div>
    <div class="header_bottom">
      <div class="overlay"></div>
      <div class="header_bottom-main">
        <div class="content">
          <p class="title">Choosing The Right Boutique Hotel For You</p>
          <p class="subtitle">How To Fly A Private Jet On Your Next Trip</p>
          <form action="" method="post">
            <input type="email" name="email" id="email" class="input-email" placeholder="Your Email">
            <button type="submit" class="btn btn-submit">find now</button>
          </form>
          <div class="icon">
            <include src="./components/listIcon.html" locals='{
              "list": "[`../assets/icons/plane.svg`, `../assets/icons/wallet.svg`, `../assets/icons/case.svg`]"
            }'></include>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
