<main>
  <!-- Team list -->
  <include src="./components/team.html"></include>

  <!-- Price list -->
  <include src="./components/secPrice.html"></include>

  <!-- Testimonials -->
  <include src="./components/secTestimonials.html"></include>

  <!-- Projects -->
  <include src="./components/secProjects.html"></include>

  <!-- CTA -->
  <include src="./components/secCTA.html"></include>

  <!-- Contact -->
  <include src="./components/secContact.html"></include>
  
  <!-- Advantages -->
  <include src="./components/secAdvantages.html"></include>
</main>
