<section class="live">
  <include src="./components/titleAndButton.html" locals='{
    "subtitle": "Live Show",
    "see": "See all"
  }'></include>
  <div class="container__bottom">
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow1.png",
      "name": "The K- POP Live Show",
      "follow": "750 watching now",
      "live": "Live Now",
      "appear": "display-block"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow2.png",
      "name": "The K- POP Live Show",
      "follow": "750 watching now",
      "live": "Live Now",
      "appear": "display-block"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow3.png",
      "name": "Minions Official",
      "follow": "1h 14m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow4.png",
      "name": "Kapil Sharma Show",
      "follow": "1h 9m ",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
  </div>
</section>
