<main>
  <section class="section live">
    <include src="./components/titleAndButton.html" locals='{
    "subtitle": "Live Show",
    "see": "See all"
  }'></include>
    <div class="container__bottom">
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow1.png",
      "name": "The K- POP Live Show",
      "follow": "750 watching now",
      "live": "Live Now",
      "appear": "display-block"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow2.png",
      "name": "The K- POP Live Show",
      "follow": "750 watching now",
      "live": "Live Now",
      "appear": "display-block"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow3.png",
      "name": "Minions Official",
      "follow": "1h 14m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow4.png",
      "name": "Kapil Sharma Show",
      "follow": "1h 9m ",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
      <include src="./components/listLive.html" locals='{
      "srcImg": "../assets/images/desktop/Liveshow5.png",
      "name": "Go Explore Bangladesh",
      "follow": "2h 22m",
      "live": "Live Now",
      "appear": "display-none"
    }'></include>
    </div>
  </section>
  <section class="section popular">
    <include src="./components/titleAndButton.html" locals='{
    "subtitle": "Most Popular",
    "see": "See all"
  }'></include>
    <div class="cards">
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular1.png",
      "name": "Wanda Vision"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular2.png",
      "name": "Bandhobi"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular3.png",
      "name": "Ekti Shobuj Bagan"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular4.png",
      "name": "Shaadi Zaroor"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular5.png",
      "name": "Shukranu"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular6.png",
      "name": "Ant-man(MARVEL)"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular7.png",
      "name": "Vijle"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular8.png",
      "name": "Gangster"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular5.png",
      "name": "Shukranu"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular3.png",
      "name": "Ekti Shobuj Bagan"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular4.png",
      "name": "Shaadi Zaroor"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Popular8.png",
      "name": "Gangster"
    }'></include>
    </div>
  </section>
  <section class="section movies">
    <include src="./components/titleAndButton.html" locals='{
    "subtitle": "Movies for you",
    "see": "See all"
  }'></include>
    <div class="cards">
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Movie1.png",
      "name": "Avengers Infinity War"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Movie2.png",
      "name": "Panther"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Movie3.png",
      "name": "Bijle"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Movie4.png",
      "name": "Pashan"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Movie1.png",
      "name": "Premi O Premi"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Movie2.png",
      "name": "Avengers Infinity War"
    }'></include>
    </div>
  </section>
  <section class="section musics">
    <include src="./components/titleAndButton.html" locals='{
    "subtitle": "Latest Bangla Music",
    "see": "See all"
  }'></include>
    <div class="cards">
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Music1.png",
      "name": "Avengers Infinity War"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Music2.png",
      "name": "Panther"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Music3.png",
      "name": "Bijle"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Music4.png",
      "name": "Pashan"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Music1.png",
      "name": "Premi O Premi"
    }'></include>
      <include src="./components/card.html" locals='{
      "srcImg": "../assets/images/desktop/Music2.png",
      "name": "Avengers Infinity War"
    }'></include>
    </div>
  </section>
</main>
